body{
    background-image: url("/img/input-bg-03.jpg");
    height: 120vh;
    width: 100%;
    font-size: 1.2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 55% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    flex-direction: column;
}

.wapper{
    display: flex;
    flex-direction: column;
 
}

main.container{
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 350px;
    min-width: 40vh;
    padding: 5rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.teste{
    display: flex;
    flex-direction: column;
    
}

.row{
    align-items: center;
}
.row-secund{
    display: flex;
   
}

form .input-group input{
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 6px 15px;
    box-sizing: border-box;
    outline: none;
    height: 3rem;
    width: 100%;
    margin: 0 0 8px 0;
    border: none; 
}

form .row input {
display: flex;
font-size: large;
color: black;
background-color: white;
border-radius: 8px;
padding: 2px 10px;
width: 144px;
height: 41px;
border: none;
}

.row select {
    width: 165px;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: larger;
    
}
.container__city{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 16px;
}
.container__city label{
    margin-bottom: 16px;
}
.container__zip{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 16px;
    gap: 16px;
    margin-left: 28px;
}

.container__att{
    text-align: center;
    margin-bottom: 16px;
    gap: 16px;
    margin-left: 28px;

}

.container__salary{
    text-align: center;
}

.Select__value {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
    border: none;
    
    
}

.icon-container{
    font-size: 30px;
    color: black;

}

.button input {
    font-size: 1.4rem;
    background-color: white;
    color:black;
    text-align: center;
    margin-top: 3rem;
    display: block;
    width: 250%;
    height: 69px;
    border: none;
    border-radius: 7px;
    margin: 51px 97px 112px -74px;
}


.row-third input{
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 6px 15px;
    box-sizing: border-box;
    outline: none;
    height: 7rem;
    width: 100%;
    margin: 0 0 8px 0;
    border: none; 
}

.paragrafo__do__texto{
    margin: 10px 10px 10px;
    max-width: 489px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.92rem;
    line-height: 110%;
    text-align: center;
}


.row{
    display: flex;
    
}


.row-secund{
display: flex;
flex-direction: row;
}

.container__money{
    display: flex;
    flex-direction: column;
}
.radio{
    width: 80px;
    display: flex;
    padding: 16px;
    gap: 16px;
}