body{
    background-image: url('/img/input-bg-06.jpg');
    height: 100vh;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.titulo{
    color: white;
}
p{
    color: white;
}

.first-form{
    background-color: rgba(22, 21, 21, 0.39);
    

}

#form{
    background-color: rgba(22, 21, 21, 0.39);
    width: auto;
}

.form-check-label{
    color: white;
}

textarea.form-control{
    background: transparent;
    color: white;
}
textarea.form-control:focus{
    background: transparent;
    color: white;
}


input#occupation.form-control, input#level.form-control, input#age.form-control{
    background: transparent;
    color: white;
}