body{
    background-image: url('/img/input-bg-06.jpg');
    height: 80vh;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.text__principal{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}
