body{
    background-image: url("img/input-bg-01.jpg");
    height: 120vh;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 55% 15%;
}

.titulo__register{
    color: white;
}

.paragrafo__do__texto{
    color: white
}

.formulario{
    color: white;
}

.register__body{
    width: 180px;
    text-align: left;
    padding: 20px 15px;
    color: white;
    background-color: rgba(97, 97, 96, 0.397);
    flex-direction: row;
}

.formulario{
    flex-direction: row;
}