body{
    background-image: url("img/input-bg-01.jpg");
    height: 120vh;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 55% 15%;
}

.titulo__register{
    color: white;
}

.paragrafo__do__texto{
    color: white
}

.formulario{
    color: white;
}