body{
    background-image: url("img/input-bg-01.jpg");
    height: 120vh;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 55% 15%;
}

.titulo__register{
    color: white;
}

.paragrafo__do__texto{
    color: white
}

.formulario{
    color: white;
}


.register__body{
    width: 180px;
    text-align: left;
    padding: 20px 15px;
    color: white;
    background-color: rgba(97, 97, 96, 0.397);
    flex-direction: row;
}

.formulario{
    flex-direction: row;
}


.secao__principal{
    display: flex;
    flex-direction: row;

}

.formulario{
    display:flex;
    flex-direction: column;
    border: nome;
    margin: 80px 300px 100px 540px;
}



input {
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    font-size: 16px;
    color: white;
    margin: 0 0 8px 0;
  }

  .container_segunda-section{
    display: flex;
    flex-direction: column;
  }
  
  h1{
    color: white;
    text-align: justify;
    margin-right: 0px;
    padding: 0;
    font-size: 48px;
    margin: 95px 1px 0px;
  }

  .paragrafo__do__texto{
    width: 400px;
    text-align: center;
    
  }

  .radio input[type="radio"] {
    outline: none;
  }
  

  .btn{
    background-color: white;
    font-size: 1.1rem;
    padding: 5 90px;
    border-radius: 5px;
    width: 160px;
    text-align: center;
  }

  .input-button{
    text-align: center;
  }

  @media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .gender-inputs{
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-input{
        margin-top: 0.5rem;
    }

    fieldset {
        border: none;
    }

  }