*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    background-image: url("/img/input-bg-05.jpg");
    height: 120vh;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 55% 15%;
    
}

.titulo__principal{
    text-align: center;
    color: white;
    padding: 25px;
  padding-top: 58px;
    font-size: 48px;
    margin-right: 220px;
}
.texto__principal{
    font-size: 17px;
    color: white;
   margin-right: 180px;
    
    
}


.container-texto__principal{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 580px;
    height: 200px;
    flex-wrap: wrap;
    flex-direction: column;
    
}   
.barra__titulo-cima{
    color: white;
    text-align: center;
    padding-top: 58px;
    margin-right: 200px
    
    
}
.barra__titulo-baixo{
    color: white;
    text-align: center;
    padding-bottom: 58px;
    margin-right:200px;
    
}


.lista__item{
    padding: 8px;
}

.lista__link{
    text-decoration: none;
    color: white;
}
.lista__link:hover{
    font-size: 17px;
    color: rgb(175, 174, 174);
}

.container__lista{
    width: 180px;
    text-align: left;
    padding: 20px 15px;
    color: white;
    background-color: rgba(97, 97, 96, 0.397);
    
    
}
.container__lista-item{
    list-style: none;
}
.container__lista-item li{
padding-bottom: 28px;
}